body {
    margin: 0;
    padding: 0;
    background-color: #fce4ec;
    /* Rosa bebê */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: 'Outfit', sans-serif;
}

#game-container {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
}

.kawaii-text {
    color: #8d6e63;
    /* Marrom café */
    text-shadow: 2px 2px 0px #fff;
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    pointer-events: none;
}

#loading-screen p {
    color: #ad8762;
    font-weight: bold;
    margin-top: 20px;
}

.main-title {
    font-size: 4rem;
    margin-bottom: 30px;
}

#start-button-container {
    margin: 20px 0;
}

#start-btn {
    background-color: #fc8eac;
    color: white;
    border: none;
    padding: 15px 40px;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 6px 0 #d81b60;
    transition: all 0.1s;
    display: none;
    /* Escondido até carregar */
}

#start-btn:hover {
    background-color: #ff4081;
    transform: translateY(-2px);
    box-shadow: 0 8px 0 #d81b60;
}

#start-btn:active {
    transform: translateY(4px);
    box-shadow: 0 2px 0 #d81b60;
}